<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Sleep Tracker</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <div class="title">
    <ion-icon name="moon"></ion-icon><br>
    <h1>Sleep Tracker</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="14">
          <ion-button expand="round" fill="outline" color="light" routerLink="/overnightsleep">
            Log My Sleep
          </ion-button>
      </ion-col>
      <ion-col size="14">
          <ion-button expand="round" fill="outline" color="light" routerLink="/sleepiness">
            Log My Sleepiness
          </ion-button>
      </ion-col>
      <ion-col size="14">
          <ion-button expand="round" fill="outline" color="light" routerLink="/viewdata">
            View Log
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>