<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Sleep Tracker</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content mode="md">

  <div class="title">
    <h1>Sleep Tracker</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="14">
          <ion-button expand="round" fill="outline" color="light" routerLink="/overnightsleep" >
            <ion-icon name="bed-outline"></ion-icon>Log My Sleep
          </ion-button>
      </ion-col>
      <ion-col size="14">
          <ion-button expand="round" fill="outline" color="light" routerLink="/sleepiness">
            <ion-icon name="battery-half-outline"></ion-icon>Log Sleepiness
          </ion-button>
      </ion-col>
      <ion-col size="14">
          <ion-button expand="round" fill="outline" color="light" routerLink="/view-log">
            <ion-icon name="book-outline"></ion-icon> View Log
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

