ion-content {
  --background: none;
    background-image: url('/assets/imgs/nightSky.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


ion-button {
  font-family: 'Press Start 2P', cursive;
  width: 270px;
  height: 50px;
  font-size: 9px;
  text-align: center;
  padding-right: 12%;
  margin: 15px;
}


h1 {
  //font-family: 'Press Start 2P', cursive;
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: white;
}

.title {
  font-size: 30px;
  padding-top: 55px;
}

.title ion-icon {
  width: 120px;
  height: 60px;
}

ion-icon{
  padding: 5%;
  font-size: 18px;
}
