ion-content {
    --background: none;
      background-image: url('/assets/imgs/nightSky.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
}

h1{
    color: white;
    font-family: 'VT323', monospace;
    font-size: 35px;
    padding-top: 5%;
}
.ion-field{
    text-align: center;
    --border-color: transparent;
    margin: 35px;
}
  
.ion-field{
    --background: rgba(20, 21, 41, 0.5) !important;
    --color: white !important;
    --outline-color: white;
}
ion-datetime{
    font-size: 14px;
    padding-left: 5%;
    padding-bottom: 5%;
}

ion-radio{
    --color: white !important;
}

ion-list{
    --ion-background-color:rgba(255,255,255,0.1) !important;
    --color: white !important;
    font-family: 'Varela', sans-serif;

}

ion-card-content{
    color: white;
    font-family: 'Varela', sans-serif;
    font-size: small;
}

ion-icon {
    font-size: 22px;
}

ion-item{
    --ion-background-color:rgba(255,255,255,0) !important;
    --ion-border-color:rgba(255,255,255,0) !important;
}

.saveBtn{
   --background: rgba(20, 21, 41, 0.7) !important;
}

