ion-content {
    --background: none;
      background-image: url('/assets/imgs/nightSky.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
}
h2{
  margin: auto;
}
h1{
  color: white;
  font-family: 'VT323', monospace;
  font-size: 35px;
  margin:15%
}

ion-segment-button{
  --ion-background-color:rgba(105, 103, 212,.9) !important;
  --color: white !important;
  height: 40px;
  // margin-top: 45%;
  margin-bottom: 5%;
  --background: rgba(255, 255, 255, 0.2);
}
ion-label{
  font-family: 'Varela', sans-serif;
  font-size: larger;
}
ion-text{
  // font-family: 'Cairo', sans-serif;
  // font-family: 'Frank Ruhl Libre', serif;
  font-family: 'Varela', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

ion-card{
  font-family: 'Varela', sans-serif;
  font-weight: normal;
  --background: rgba(20, 21, 41, 0.7);
  --color:white;
}
