ion-content {
    --background: none;
      background-image: url('/assets/imgs/nightSky.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
}

ion-segment-button{
  --ion-background-color:rgba(255,255,255,0.1) !important;
  --color: white !important;
}
