ion-content {
    --background: none;
      background-image: url('/assets/imgs/nightSky.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
}
h1{
  color: white;
  font-family: 'VT323', monospace;
  font-size: 35px;
  padding-top: 5%;
  padding-bottom: 8%;
}


.ion-field{
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
  margin-bottom: 5px;
}

.ion-field{
  --background: rgba(255,255,255,0.1) !important;
  --color: white !important;
}

ion-datetime{
  padding-left: 5%;
  padding-bottom: 5%;
}
ion-range{
  padding: 0 15px;
  margin-bottom: 10%;
  --bar-background: rgba(255,255,255,0.2) !important;
  --pin-background: white !important;
  --knob-size: 15px;
  --bar-height:	5px;
}

ion-textarea{
  height: auto;
  margin-bottom: 10%;

}
