ion-content {
    --background: none;
      background-image: url('/assets/imgs/nightSky.png');
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
}