<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Sleep Log</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <h1>Sleep Log</h1>
  </div>
  <form (ngSubmit)="onSubmit()">
    <ion-text color="light"><h4><ion-icon name="moon" expand="round" color="light"> </ion-icon> Enter your sleep: </h4></ion-text>

      <!-- sleeping time -->
      <ion-item class='ion-field'>
        <ion-icon class = "cal" name="calendar-outline" color="light" size="small">Date</ion-icon>

        <ion-datetime display-format="MMM D h:mm A" picker-format="MMM D h:mm A" placeholder="Went to Sleep" [(ngModel)]="sleeptime" name="sleeptime"></ion-datetime>
      </ion-item>

      <!-- waking time -->
      <ion-item class='ion-field'>
        <ion-icon class = "cal" name="calendar-outline" color="light" size="small">Date</ion-icon>

        <ion-datetime display-format="MMM D h:mm A" picker-format="MMM D h:mm A" placeholder="Woke Up" [(ngModel)]="waketime" name="waketime"></ion-datetime>
      </ion-item>

      <!-- sleep rating -->
      <ion-text color="light"><h4> Sleep Rating: </h4></ion-text>
        <ion-range mode="ios" color="light" min="1" max="5" snaps="true" pin="true" color="light" [(ngModel)]="sleepRating" name="sleepRating" >
            <ion-icon name="sad-outline" slot="start" expand="round" fill="outline" color="light"></ion-icon>
            <ion-icon name="happy-outline" slot="end" expand="round" fill="outline" color="light"></ion-icon>
        </ion-range>

      <!-- additional notes -->
      <ion-item class='ion-field' (input)="getText($event)" placeholder="" spellcheck="true">
      <ion-textarea placeholder="Notes"></ion-textarea>
      </ion-item>

      <ion-button color="dark" type="submit">Save</ion-button>
    </form>

</ion-content>
